* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

header {
    width: 100%;
    height: 50px;
    background-color: teal;
    font-size: 1.5em;
    font-weight: 900;
    color: white;
    position: fixed;
    top: 0;
    z-index: 10;
    padding-top: 10px;
    padding-left: 5px;
}

.cover {
    margin-top: 50px;
    background-color: beige;
    height: 400px;
    width: 100%;
    text-align: left;
}

.cover img {
    height: 400px;
    width: auto;
    position: absolute;
    right: 0;
    padding: 20px;
    opacity: 0.75;
}

.cover p {
    padding-left: 10px;
    padding-top: 110px;
    font-size: 3em;
    font-weight: 900;
    color: teal;
    position: relative;
    z-index: 5;
}
.subheading {
    margin-top: 5px;
    position: relative;
    padding-left: 10px;
    width: 100%;
    color: teal;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

.services {
    padding-top: 10px;
    padding-bottom: 20px;
}

.services .col {
    text-align: center;
    position: relative;
    display: inline-block;
    height: 200px;
    width: 200px;
}

.services img {
    height: 150px;
}

.services p {
    font-size: 1.2em;
    font-weight: 900;
}

#top_ten {
    color: gray;
    background-color: gainsboro;
    border-radius: 5%;
}

form {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

label, input {
    margin: 5px;
    width: 400px;
}

#oneway, #roundtrip {
    position: relative;
    display: inline-block;
    width: 10px;
}

.icon {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

#whatsapp {
    position: fixed;
    top: 90%;
    right: 0;
}

#call {
    position: fixed;
    top: 90%;
    right: 70px;
}

a {
    text-decoration: none;
}

button {
    margin: 5px;
    height: 30px;
    background-color: teal;
    color: white;
    font-weight: 900;
    border-style: none;
    border-radius: 10%;
}
