* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

header {
    width: 100%;
    height: 50px;
    background-color: teal;
    font-size: 1.5em;
    font-weight: 900;
    color: white;
    position: fixed;
    top: 0;
    z-index: 10;
    padding-top: 10px;
    padding-left: 5px;
}

.cover {
    margin-top: 50px;
    background-color: beige;
    height: 400px;
    width: 100%;
    text-align: left;
}

.cover img {
    height: 400px;
    width: auto;
    position: absolute;
    right: 0;
    padding: 20px;
    opacity: 0.75;
}

.cover p {
    padding-left: 10px;
    padding-top: 110px;
    font-size: 3em;
    font-weight: 900;
    color: yellowgreen;
    position: relative;
    z-index: 5;
}
.subheading {
    margin-top: 5px;
    position: relative;
    padding-left: 10px;
    width: 100%;
    color: teal;
}
.services {
    margin: auto;
    padding: 10px;
    color: teal;
    position: relative;
    display: inline-block;
    height: 80px;
    width: 30%;
    text-align: center;
}

.serv_pic {
    height: 120px;
    width: auto;
    padding-top: 5px;
    float: right;
    text-indent: 0;
}

figcaption {
    font-size: 1.2em;
    font-weight: 900;
}

#top_ten {
    color: gray;
    background-color: gainsboro;
    border-radius: 5%;
}

form {
    position: relative;
    margin-top: 10px;
    padding: 10px;
}

label, input, button {
    margin: 5px;
}

.icon {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

#whatsapp {
    position: fixed;
    top: 90%;
    right: 0;
}

#call {
    position: fixed;
    top: 90%;
    right: 70px;
}

a {
    text-decoration: none;
}
